<div class="header">
  <h2>Feedback</h2>
</div>

<!-- Search Form -->
<!-- Search Form -->
<div class="search-form">
  
  <!-- Category Dropdown -->
  <select [(ngModel)]="searchForm.rating" name="rating" style="width: 200px;">
    <option value="">Select Rating</option>
    <option value="">All</option>
    <option value="1">⭐</option>
    <option value="2">⭐⭐</option>
    <option value="3">⭐⭐⭐</option>
    <option value="4">⭐⭐⭐⭐</option>
    <option value="5">⭐⭐⭐⭐⭐</option>
  </select>
  <select [(ngModel)]="searchForm.seen" name="seen">
    <option value="">Seen</option>
    <option value="">All</option>
    <option value="Y">Yes</option>
    <option value="N">No</option>
  </select>
  <label>Start Day: <input type="date" id="startOfDay" [(ngModel)]="searchForm.startOfDay"  /></label>
  
  <label>End Day: <input type="date" id="endOfDay" [(ngModel)]="searchForm.endOfDay"  /></label>
  
  <button class="search-btn" (click)="search()">Search</button>
  <button class="reset-btn" (click)="resetSearch()">Reset</button>
</div>



<table>
  <thead>
    <tr>
      <th (click)="sort('id')">ID</th>
      <th (click)="sort('rating')">Rating</th>
      <th (click)="sort('createdBy')">Sumitted By</th>
      <th (click)="sort('createdAt')">Submitted On</th>
      <th>Message</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let feedback of feedbacks">
      <td>{{feedback.id}}</td>
      <td style="text-align: left;">
        <ng-container *ngFor="let star of [].constructor(feedback.rating)">
          ⭐
        </ng-container>
      </td>
      <td>{{feedback.createdBy}}</td>
      <td>{{ feedback.createdAt | date:'MMM d, y' }}</td>
      <td>{{feedback.message}}</td>
      <td>
          <!-- Show Mark Read if seen = 'N' -->
        <button 
          *ngIf="feedback.seen === 'N'" 
          class="action-btn read" 
          (click)="markAsRead(feedback.id)">
          Mark Read
        </button>

        <!-- Show Mark Un-Read if seen = 'Y' -->
        <button 
          *ngIf="feedback.seen === 'Y'" 
          class="action-btn un-read" 
          (click)="markAsRead(feedback.id)">
          Mark Un-Read
        </button>

        <button class="action-btn delete" (click)="deleteFeedback(feedback.id)">Delete</button>
      </td>
    </tr>
  </tbody>
</table>

<div class="pagination">
  <button (click)="changePage(page-1)" [disabled]="page===0">Prev</button>
  <span>Page {{page+1}} of {{totalPages}}</span>
  <button (click)="changePage(page+1)" [disabled]="page+1>=totalPages">Next</button>

  <label>
    Page Size:
    <select (change)="changeSize($event)" [value]="size">
      <option *ngFor="let s of [5,10,20]" [value]="s">{{s}}</option>
    </select>
  </label>
</div>
