<app-loader></app-loader>

<!-- NAVBAR -->
<div class="navbar">
  <div class="navbar-left">
    <!-- Optional: App name or logo -->
    <span class="navbar-title">TRACKER</span>
  </div>
  <div class="navbar-right">
    <ng-container *ngIf="!isAuth()">
      <a routerLink="/login" class="nav-btn">Login</a>
      <a routerLink="/register" class="nav-btn">Register</a>
    </ng-container>
    <ng-container *ngIf="isAuth()">
      <span class="username">{{ userName }}</span>
      <div class="emoji-square">
        <span (click)="openFeedback()">🙂</span>
        <span (click)="openFeedback()">😐</span>
        <span (click)="openFeedback()">🙁</span>
        <span (click)="openFeedback()">🤩</span>
      </div>
      <button class="nav-btn" (click)="logOut()">Logout</button>
    </ng-container>
  </div>
</div>
<!-- Feedback Modal -->
<div class="modal" *ngIf="showModal">
  <div class="modal-content">
    <h3>Give Your Feedback</h3>

    <!-- Star Rating -->
    <div class="stars">
      <ng-container *ngFor="let star of [1,2,3,4,5]; let i = index">
        <span
          class="star"
          [class.filled]="(i + 1) <= rating"
          [class.half]="(i + 0.5) === rating"
          (click)="setRating(i + 1)">
          ★
        </span>
      </ng-container>
    </div>

    <!-- Optional comment -->
    <textarea [(ngModel)]="feedbackText" placeholder="Write your feedback..."></textarea>

    <!-- Buttons -->
    <div class="modal-actions">
      <button (click)="submitFeedback()">Submit</button>
      <button (click)="closeModal()">Close</button>
    </div>
  </div>
</div>




<div class="dashboard-layout">
  <!-- SIDEBAR -->
  <div class="sidebar">
    <h1 class="ims">TRACKER</h1>
    <ul class="nav-links">
      <li *ngIf="isAuth()"><a routerLink="/dashboard">Dashbaord</a></li>
      <li *ngIf="isAuth()"><a routerLink="/transaction">Transactions</a></li>
      <li *ngIf="isAuth()"><a routerLink="/all-question">All Question</a></li>
      <li *ngIf="isAuth()"><a routerLink="/add-question">Add Question</a></li>
      <li *ngIf="isAdmin()"><a routerLink="/all-category">All Category</a></li>
      <li *ngIf="isAdmin()"><a routerLink="/add-category">Add Category</a></li>
      <li *ngIf="isAuth()"><a routerLink="/profile">Profile</a></li>
      <li *ngIf="!isAuth()"><a routerLink="/login">Login</a></li>
      <li *ngIf="!isAuth()"><a routerLink="/register">Register</a></li>
      <li *ngIf="isAuth()"><a (click)="logOut()" >Logout</a></li>
    </ul>
  </div>

  <!-- MAIN CONTENT Area-->
   <div class="main-content">
      <router-outlet></router-outlet>
   </div>
</div>