<div class="header">
  <h2>Category List</h2>
  <button class="add-btn" (click)="addCategory()">+ Add Category</button>
</div>

<!-- Search Form -->
<!-- Search Form -->
<div class="search-form">
  
  <!-- Category Dropdown -->
  <select [(ngModel)]="searchForm.category" name="category" style="width: 200px;">
    <option value="">Select Category</option>
    <option *ngFor="let cat of categoryList" [value]="cat">{{cat}}</option>
  </select>
  <input type="text" placeholder="Ref Code" [(ngModel)]="searchForm.refCode" name="refCode">
  <input type="text" placeholder="Ref Code Long Name" [(ngModel)]="searchForm.refCodeLongName" name="refCodeLongName">
  <select [(ngModel)]="searchForm.active" name="active">
    <option value="">Active?</option>
    <option value="Y">Yes</option>
    <option value="N">No</option>
  </select>
  <button class="search-btn" (click)="search()">Search</button>
  <button class="reset-btn" (click)="resetSearch()">Reset</button>
</div>



<table>
  <thead>
    <tr>
      <th (click)="sort('id')">ID</th>
      <th (click)="sort('category')">Category</th>
      <th>Sub Category</th>
      <th (click)="sort('refCode')">Ref Code</th>
      <th (click)="sort('refCodeLongName')">Ref Code Long Name</th>
      <th (click)="sort('active')">Active</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let cat of categories">
      <td>{{cat.id}}</td>
      <td>{{cat.category}}</td>
      <td>{{cat.subCategory}}</td>
      <td>{{cat.refCode}}</td>
      <td>{{cat.refCodeLongName}}</td>
      <td>{{cat.active}}</td>
      <td>
        <button class="action-btn view" (click)="viewCategory(cat.id)">View</button>
        <button class="action-btn edit" (click)="updateCategory(cat.id)">Edit</button>
        <button class="action-btn delete" (click)="deleteCategory(cat.id)">Delete</button>
      </td>
    </tr>
  </tbody>
</table>

<div class="pagination">
  <button (click)="changePage(page-1)" [disabled]="page===0">Prev</button>
  <span>Page {{page+1}} of {{totalPages}}</span>
  <button (click)="changePage(page+1)" [disabled]="page+1>=totalPages">Next</button>

  <label>
    Page Size:
    <select (change)="changeSize($event)" [value]="size">
      <option *ngFor="let s of [5,10,20]" [value]="s">{{s}}</option>
    </select>
  </label>
</div>