<div class="layout">
  <!-- Main Content -->
  <div class="main">

    <!-- Header -->
    <div class="header">
      <h2>Learning Tracker Dashboard</h2>
      <span>Under Development</span>
    </div>

    <!-- Summary Cards -->
    <div class="summary">
      <div class="card" *ngFor="let card of summaryCards" (click)="onCardClick(card)"
       style="cursor:pointer">
        <div class="icon" [style.background]="card.color">
          {{card.icon}}
        </div>
        <div>
          <h4>{{card.title}}</h4>
          <h2>{{card.value}}</h2>
        </div>
      </div>
    </div>

    <!-- Middle Section -->
    <div class="middle">

      <!-- Calendar -->
      <div class="calendar">
        <h3>Select month to check Monthly Report</h3>
        <div class="months">
          <span *ngFor="let month of months"
                [class.active]="isActive(month)"
                (click)="onMonthClick(month)">
            {{ month }}
          </span>
        </div>
      </div>


      <!-- Educational Stage -->
      <div class="education">
        <h3>All Questions</h3>
        <div *ngFor="let stage of educationalStages" class="stage">
          <div class="dot" [style.background]="stage.color"></div>
          <div>
            <h4>{{stage.name}}</h4>
            <span>{{stage.value}}</span>
          </div>
        </div>
      </div>

    </div>

    <!-- Bottom Section -->
    <div class="bottom">
      <div>
        <h3>Add Your Activities & Events</h3>

          <!-- Scrollable container -->
        <div class="events-scroll">
          <!-- Display mode -->
          <ul *ngIf="!isEditing">
            <li *ngFor="let event of events">
              <input type="checkbox" [checked]="event.checked" disabled />
              {{ event.task }}
            </li>
          </ul>

          <!-- Edit mode -->
          <div *ngIf="isEditing">
            <div *ngFor="let event of events; let i = index" class="event-row">
              <input type="checkbox" [(ngModel)]="event.checked" />
              <input type="text" [(ngModel)]="event.task" placeholder="Edit event" />
              <button class="remove-btn" (click)="removeEvent(i)">Remove</button>
            </div>
          </div>

        </div>

        <div class="buttons">
          <div *ngIf="isEditing">
            <button class="add-btn" (click)="addEvent()">
              Add
            </button>
          </div>
          <button (click)="toggleEdit()">
            {{ isEditing ? 'Save' : 'Edit' }}
          </button>
        </div>
      </div>


      <div class="ranking">
        <div class="student-card" *ngFor="let student of topStudents" [style.background]="student.color">
          <h3>{{student.name}}</h3>
          <h1>{{student.percent}}</h1>
          <span>{{student.rank}}</span>
        </div>
      </div>

    </div>

  </div>
</div>
